body img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;  
    text-align: center;  
}
#name{
    text-align : center;
}
body{
    background-color: rgb(223, 232, 223);
    margin-left: 50px;
    margin-right: 50px;
}

